<div class="container">
    <h1 style="font-weight: bold; font-size: 25px;">TERMS&CONDITIONS</h1>
    <p>THESE GENERAL TERMS AND CONDITIONS APPLY TO THE PURCHASE OF SKATEBOARDS AND ACCESSORIES VIA THE BANZAI GMBH & CO
        KG ONLINE SHOP (HEREINAFTER: “SHOP”).</p>

    <p>1. <span style="font-weight: bold; font-size: 16px;">SCOPE, DEFINITIONS, GENERAL TERMS AND CONDITIONS, CONTRACT LANGUAGE, CONTRACT
            TEXT</span></p>
    <ul>
        <li>
            <p>THE BUSINESS RELATIONS BETWEEN BANZAI GMBH & CO KG (HEREINAFTER REFERRED TO AS “BANZAI“) AND THE
                CUSTOMERS NAMED IN SECTION 1.2 (HEREINAFTER REFERRED TO AS “CUSTOMER”) SHALL BE GOVERNED EXCLUSIVELY BY
                THESE TERMS AND CONDITIONS.</p>
        </li>
        <li>
            <p>CUSTOMERS CAN BE CONSUMERS OR ENTREPRENEURS. “CONSUMER” WITHIN THE MEANING OF THESE TERMS AND CONDITIONS
                IS EVERY NATURAL PERSON WHO ENTERS INTO A LEGAL TRANSACTION FOR PURPOSES THAT PREDOMINANTLY ARE OUTSIDE
                HIS TRADE, BUSINESS OR PROFESSION. “ENTREPRENEUR” WITHIN THE MEANING THESE TERMS AND CONDITIONS IS A
                NATURAL OR LEGAL PERSON OR A PARTNERSHIP WITH LEGAL PERSONALITY WHO OR WHICH, WHEN ENTERING INTO A LEGAL
                TRANSACTION, ACTS IN EXERCISE OF HIS OR ITS TRADE, BUSINESS OR PROFESSION.</p>
        </li>
        <li>
            <p>DEVIATING TERMS AND CONDITIONS OF CUSTOMERS WILL NOT BE ACCEPTED. THIS ALSO APPLIES IF THE INCLUSION IS
                NOT EXPRESSLY CONTRADICTED.</p>
        </li>
        <li>
            <p>ONLY THE GERMAN VERSION OF THESE TERMS AND CONDITIONS IS DECISIVE AND LEGALLY BINDING.</p>
        </li>
        <li>
            <p>AFTER HIS BINDING ORDER OR SALE THE CUSTOMER RECEIVES AN ORDER CONFIRMATION AND THESE TERMS AND
                CONDITIONS BY E-MAIL. BANZAI DOES NOT, HOWEVER, STORE A SEPARATE CONTRACT TEXT THAT COULD BE RETRIEVED
                VIA THE INTERNET.</p>
        </li>
        <li>
            <p>BEFORE THE BINDING ORDER, THE CUSTOMER CAN ALWAYS RETURN TO THE PREVIOUSLY VISITED PAGES BY CLICKING
                “BACK” IN THE BROWSER AND, IF NECESSARY, CAN CORRECT ERRORS OR CANCEL THE ORDER PROCESS.</p>
        </li>
    </ul>
    <br>
    <br>
    <p>2. <span style="font-weight: bold; font-size: 16px;">CONCLUSION OF CONTRACT</span></p>
    <p>2.1 THE CUSTOMER CAN SELECT PRODUCTS FROM THE BANZAI PRODUCT RANGE BY CLICKING ON THE “ADD TO SHOPPING CART” BUTTON.
    
    <p>2.2 BY CLICKING ON THE “EDIT SHOPPING CART” BUTTON, THE CUSTOMER HAS THE OPPORTUNITY TO CHECK HIS SELECTION AND MAKE
        CORRECTIONS.</p>
    <p>2.3 AFTER THE CUSTOMER HAS CLICKED THE “CHECKOUT” BUTTON, HE WILL BE ASKED TO ENTER HIS DATA, IN PARTICULAR WHETHER
        HE IS A PRIVATE OR BUSINESS CUSTOMER, HIS TITLE, FIRST NAME, SURNAME, E-MAIL ADDRESS, BILLING ADDRESS AND – IF
        DIFFERING – ANY OTHER DELIVERY ADDRESS. THE CUSTOMER CAN – BY ENTERING A PASSWORD IN THE CORRESPONDING TEXT FIELD –
        VOLUNTARILY REGISTER AS A CUSTOMER. IF HE REJECTS A REGISTRATION, HE INDICATES THIS BY MARKING THE CHECKBOX “DO NOT
        CREATE A CUSTOMER ACCOUNT”. IF THE CUSTOMER HAS REGISTERED OR ENTERED HIS DATA AND THEN CLICKS ON THE “CONTINUE”
        BUTTON, HE WILL RECEIVE A CONFIRMATION LINK FROM BANZAI BY E-MAIL.</p>
    <p>2.4 BY CLICKING ON THE BUTTON “BUY NOW”, THE CUSTOMER SUBMITS A BINDING OFFER TO PURCHASE.</p>
    <p>2.4.1 BEFORE THE CUSTOMER CLICKS ON THE “BUY NOW” BUTTON, A SUMMARY OF HIS ORDER AND THE DATA PROVIDED WILL BE SHOWN.
        HE CAN CHECK THE ORDER AGAIN AND, IF NECESSARY, MAKE CORRECTIONS BY CLICKING ON THE COMPLETED FIELDS OR THE “BACK”
        BUTTON.</p>
    <p>2.4.2 AFTER THE CUSTOMER HAS CLICKED ON THE “BUY NOW” BUTTON, BANZAI CONFIRMS THE RECEIPT OF THE ORDER TO THE
        CUSTOMER BY E-MAIL, WHICH AGAIN DOCUMENTS THE CONTENTS OF THE ORDER.</p>
    <p>2.5 THE CONTRACT WITH BANZAI IS CONCLUDED IF BANZAI CONFIRMS THE RECEIPT OF THE ORDER BY E-MAIL (SEE POINT 2.4.2).
        BANZAI REMAINS ENTITLED TO REJECT A CUSTOMER AS A CONTRACTUAL PARTNER.</p>
    <p>2.6 CONFIRMATION OR REJECTION OF THE CONTRACT MUST BE MADE WITHIN TWO WORKING DAYS AFTER THE RECEIPT OF ORDER AT THE
        LATEST. IN ALL CASES IN WHICH THE CUSTOMER ALREADY INITIATED PAYMENT DURING THE ORDERING PROCESS, THE APPROVAL OF
        THE PAYMENT PROCESS OR THE ACCEPTANCE OF THE PURCHASE PRICE ALREADY CONSTITUTES THE BINDING ACCEPTANCE OF THE
        PURCHASE CONTRACT BY BANZAI.</p>
    <p>2.7 THE PRICES AT THE TIME OF THE ORDER APPLY. ALL PRICES SHOWN IN THE SHOP ARE RETAIL PRICES. THE PRICES CONTAIN THE
        LEGAL VAT BUT DO NOT INCLUDE SHIPPING. WHEN ORDERING A PRODUCT, THE COSTS FOR SHIPPING WILL BE INDICATED IN THE
        ORDERING PROCESS AND WILL BE CHARGED ACCORDINGLY. ALTHOUGH ORDERS OVER THE PRICE OF 75 EUROS WILL BE FREE OF
        SHIPPING CHARGE.</p>
    <p>2.8 THE TIME OF DELIVERY FOR EVERY PRODUCT IS INDICATED ON THE WEBSITE UNDER THE SECTION “SHIPPING AND RETURNS”. IF
        THE PRODUCT SELECTED BY THE CUSTOMER IS TEMPORARILY UNAVAILABLE AT THE TIME OF THE ORDER, BANZAI WILL INFORM THE
        CUSTOMER IMMEDIATELY.</p>
    <p>2.9 BANZAI RESERVES THE RIGHT TO USE THE EMAIL ADDRESS PROVIDED BY THE USER IN THE COURSE OF ORDERING THE PRODUCT, TO
        SEND EMAIL COMMUNICATION CONCERNING PRODUCT NOVELTIES AND CLEARANCE SALES TO THE USER. THE USER MAY OBJECT SUCH USE
        OF THE EMAIL ADDRESS BY SENDING AN EMAIL TO SHOP@BANZAISKATE.COM OR BY USING THE UNSUBSCRIBE LINK SUPPLIED WITH
        EVERY EMAIL. BANZAI WILL CEASE SENDING EMAIL COMMUNICATION ABOUT PRODUCT NOVELTIES AND CLEARANCE SALES TO THE EMAIL
        ADRESS OF THE USER AFTER BANZAI RECEIVED THE OBJECTIONS. ANY COSTS OCCURRING TO THE USER IN CONNECTION WITH THE
        OBJECTION OF USING THE EMAIL ADDRESS, WILL NOT EXCEED THE APPLICABLE BASE RATE.</p>
        <br>
        <br>
    <p>3. <span style="font-weight: bold; font-size: 16px;">MEANS OF PAYMENT; RETENTION OF TITLE</span></p>
    <p>3.1 THE CUSTOMER CAN PAY BY CREDITCARD (VISA- AND MASTERCARD), PAYPAL OR APPLE PAY.</p>
    <p>3.2 UNLESS OTHERWISE AGREED, PAYMENT OF THE SALES PRICE SHALL BE DUE IMMEDIATELY UPON CONCLUSION OF THE CONTRACT.</p>
    <p>3.3 BANZAI RETAINS OWNERSHIP OF THE PURCHASED PRODUCT UNTIL FULL PAYMENT HAS BEEN RECEIVED.</p>
    <br>
    <br>
    <p>4. <span style="font-weight: bold; font-size: 16px;">WARRANTY AND LIABILITY</span></p>
    <p>4.1 THE STATUTORY WARRANTY AND LIABILITY SHALL APPLY UNDER CONSIDERATION OF THE FOLLOWING PROVISIONS.</p>
    <p>4.2 THE LIABILITY OF BANZAI FOR DAMAGES IS EXCLUDED UNLESS A GUARANTEE HAS BEEN GIVEN FOR THE CONDITION OR A DEFECT HAS BEEN FRAUDULENTLY CONCEALED. THE EXCLUSION OF LIABILITY SHALL NOT APPLY TO CLAIMS FOR DAMAGES OF ANY KIND IF BANZAI, ITS LEGAL REPRESENTATIVES OR ITS VICARIOUS AGENTS HAVE VIOLATED THEIR OBLIGATIONS GROSSLY NEGLIGENTLY OR INTENTIONALLY. THE EXCLUSION OF LIABILITY SHALL ALSO NOT APPLY TO CLAIMS FOR DAMAGES IN THE EVENT OF INJURY TO BODY, LIFE OR HEALTH. FURTHERMORE, THE EXCLUSION OF LIABILITY SHALL NOT APPLY IN THE EVENT OF BREACH OF CARDINAL OBLIGATIONS IF THE OBLIGATION WAS BREACHED NEGLIGENTLY, IN WHICH CASE LIABILITY SHALL BE LIMITED TO FORESEEABLE DAMAGE TYPICAL OF THE CONTRACT. CARDINAL OBLIGATIONS ARE THOSE OBLIGATIONS WHICH ARE NECESSARY TO ACHIEVE THE PURPOSE OF THE CONTRACT AND OF WHICH’S OBSERVANCE PARTNERS MAY RELY ON.</p>
    <p>4.3 THE SKATEBOARDS OFFERED BY BANZAI ARE PACKED AND DELIVERED UNSCREWED BY BANZAI. THE CUSTOMER IS RESPONSIBLE FOR THE ASSEMBLY OF THE SKATEBOARDS. THE ASSEMBLY INSTRUCTIONS ON THE INSIDE OF THE PACKAGING MUST BE FOLLOWED DILIGENTLY. IF INDIVIDUAL PARTS ARE FAULTY OR INCOMPLETE, THE SKATEBOARD MUST NOT BE USED. IN THIS CASE, CONTACT BANZAI. NOTWITHSTANDING SECTION 4.2 BANZAI SHALL NOT BE LIABLE FOR DAMAGE RESULTING FROM IMPROPER INSTALLATION OR ASSEMBLY OF THE SKATEBOARD.</p>
    <p>4.4 ANY CLAIMS ARISING FROM PRODUCT LIABILITY SHALL REMAIN UNAFFECTED.</p>
    <br>
    <br>
    <p>4. <span style="font-weight: bold; font-size: 16px;">WARRANTY AND LIABILITY</span></p>
  
    <p>IF THE USER IS AN ENTREPRENEUR, HE IS NOT ENTITLED TO SET OFF CLAIMS OUTSIDE THEA RIGHT OF RETENTION CANNOT BE ASSERTED BY THE CUSTOMER, WHO IS AN ENTREPRENEUR, UNLESS ONE OF THE AFOREMENTIONED EXCEPTIONS EXISTS.</p> MUTUALLY CONTRACTUAL RELATIONSHIP. THE PROHIBITION OF SET-OFF DOES NOT APPLY TO COUNTERCLAIMS THAT ARE UNDISPUTED BY BANZAI OR HAVE BEEN LEGALLY ESTABLISHED. 
    <br>
    <br>
    <br>
    <p>5. <span style="font-weight: bold; font-size: 16px;">COPYRIGHTS</span></p>
    <p>IMAGES, FILMS AND TEXTS PUBLISHED IN THE SHOP MAY BE SUBJECT OF COPYRIGHTS. A USE OF THE PICTURES, FILMS AND TEXTS IS NOT PERMITTED WITHOUT THE PREVIOUS EXPLICIT CONSENT OF TREKS.</p>
    <br>
    <br>
    <hr>
</div>

<footer class="footer-contrainer"> 
    <div class="footer-img">
      <ul class="footer">
      <li class="footer-links">
        <a class="footer-link" aria-current="page" routerLink="/shipping-policy" routerLinkActive="active">
          SUPPORT
        </a>
      </li>
      <li class="footer-links">
        <a class="footer-link" aria-current="page" routerLink="/privacy-policy" routerLinkActive="active">
          PRIVACY POLICY
        </a>
      </li>
      <li class="footer-links">
        <a class="footer-link" aria-current="page" routerLink="/terms-and-conditions" routerLinkActive="active">
          TERMS & CONDITIONS
        </a>
      </li>
    </ul>
    </div>
  </footer>