
<section class="h-100 h-custom" style="background-color: #eee;" *ngIf="!isArrayEmpty">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">

            <div class="row">

              <div class="col-lg-7">
                <h5 class="mb-3"><a href="#!" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Continue
                    shopping</a></h5>
                <hr>

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Shopping cart</p>
                    <p class="mb-0">You have {{products.length}} items in your cart</p>
                  </div>
                  <div>
                    <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                          class="fas fa-angle-down mt-1"></i></a></p>
                  </div>
                </div>

                <div class="card mb-3" *ngFor="let product of products; let i = index;">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img [src]="product.image" class="img-fluid rounded-3" alt="Shopping item"
                            style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>{{product.nameOfProduct}}</h5>
                          <p class="small mb-0">Products left:{{product.productsLeft}}</p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 100px;">
                          <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                            <button class="btn btn-link px-2"
                              onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                              <i class="fas fa-minus"></i>
                            </button>

                            <input id="form1" min="0" name="quantity" value="1" type="number"
                              class="form-control form-control-sm" />

                            <button class="btn btn-link px-2"
                              onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                              <i class="fas fa-plus"></i>
                            </button>
                          </div>

                        </div>
                        <div style="width: 80px; margin-left: 30px;">
                          <h5 class="mb-0">{{product.price}}den.</h5>
                        </div>
                        <button (click)="onDelete()" type="submit" style="color: #cecece;"><i class="fas fa-trash-alt"></i></button>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
              <div class="col-lg-5">

                <div class="card bg-primary text-white rounded-3" style="border: none ;">
                  <div class="card-body"  style="background-color: #476A6F;">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h5 class="mb-0">Card details</h5>
                      <h3></h3>
                    </div>


                    <hr class="my-4">
                    
                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Shipping</p>
                      <p class="mb-2">20den.</p>
                    </div>

                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Total</p>
                      <p class="mb-2">{{tottalPrice + 20}}den.</p>
                    </div>

                    <button [disabled]="isUserLogged" type="button"  class="btn btn-info btn-block btn-lg" (click)="buyProducts()">
                      <div class="d-flex justify-content-between">
                        <span>{{tottalPrice + 20}}den.</span>
                        <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                      </div>
                    </button>
                    <p *ngIf="isUserLogged"  style="color:red ;">Please <a (click)="openDialog()" style="font-weight:bold;">Login</a> </p>
                    

                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="h-100 h-custom" style="background-color: #eee;" *ngIf="isArrayEmpty">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">

            <div class="row">

              <div class="col-lg-7">
                <h5 class="mb-3"><a routerLink="/order" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Continue
                    shopping</a></h5>
                <hr>

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Shopping cart</p>
                    <p class="mb-0">You have {{products.length}} items in your cart</p>
                  </div>
              
                  
                </div>

                <div class="card mb-3" *ngFor="let product of products; let i = index;">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img [src]="product.image" class="img-fluid rounded-3" alt="Shopping item"
                            style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>{{product.nameOfProduct}}</h5>
                          <p class="small mb-0">Products left:{{product.productsLeft}}</p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 100px;">
                          <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                            <button class="btn btn-link px-2"
                              onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                              <i class="fas fa-minus"></i>
                            </button>

                            <input id="form1" min="0" name="quantity" value="1" type="number"
                              class="form-control form-control-sm" />

                            <button class="btn btn-link px-2"
                              onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                              <i class="fas fa-plus"></i>
                            </button>
                          </div>

                        </div>
                        <div style="width: 80px; margin-left: 30px;">
                          <h5 class="mb-0">{{product.price}}den.</h5>
                        </div>
                        <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name of product</th>
        <th scope="col">Products Left</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index;">
        <td>{{i+1}}</td>
        <td>{{product.nameOfProduct}}</td>
        <td>{{product.productsLeft}}</td>
        <td>{{product.price}}</td>
      </tr>
    </tbody>
    <button>Buy products</button>
  </table> -->