<div class="container">
<h2>DATA PROTECTION</h2>
<p><span style="font-style: bold;">GENERAL INFORMATION ABOUT THE PROCESSING OF YOUR DATA</span></p>
<br>
WE ARE LEGALLY OBLIGED TO INFORM YOU ABOUT THE PROCESSING OF YOUR PERSONAL DATA (HEREINAFTER "DATA") WHEN YOU USE OUR
WEBSITE. WE TAKE THE PROTECTION OF YOUR PERSONAL DATA VERY SERIOUSLY. THIS DATA PROTECTION NOTICE INFORMS YOU ABOUT THE
DETAILS OF THE PROCESSING OF YOUR DATA AND YOUR LEGAL RIGHTS IN THIS REGARD. FOR TERMS SUCH AS "PERSONAL DATA" OR
"PROCESSING", THE LEGAL DEFINITIONS FROM ART. 4 DSGVO ARE DECISIVE. WE RESERVE THE RIGHT TO ADAPT THE DATA PROTECTION
DECLARATION WITH EFFECT FOR THE FUTURE, IN PARTICULAR IN THE CASE OF FURTHER DEVELOPMENT OF THE WEBSITE, THE USE OF NEW
TECHNOLOGIES OR CHANGES IN THE LEGAL BASIS OR THE CORRESPONDING CASE LAW. WE RECOMMEND YOU,
<p><span style="font-style: bold;">SCOPE</span></p>
<br>

THE PRIVACY POLICY APPLIES TO ALL PAGES OF WWW.BANZAISKATE.COM . IT DOES NOT EXTEND TO ANY LINKED WEBSITES OR INTERNET
PRESENCES FROM OTHER PROVIDERS.

<p><span style="font-style: bold;">RESPONSIBLE</span></p>


RESPONSIBLE FOR THE PROCESSING OF PERSONAL DATA WITHIN THE SCOPE OF THIS DATA PROTECTION DECLARATION IS:

BANZAI GMBH & CO. KG MAUERKIRCHERSTR. 12 81679 MUNICH, GERMANY

<br>

PHONE +00 000 000 0000
<br>
EMAIL: CONTACT@TREKS.COM
<br><br>
<p><span style="font-weight: bold;">
        QUESTIONS ABOUT DATA PROTECTION
    </span></p>
    

IF YOU HAVE ANY QUESTIONS ABOUT DATA PROTECTION WITH REGARD TO OUR COMPANY OR OUR WEBSITE, YOU CAN GET IN TOUCH USING
THE CONTACT DETAILS LISTED UNDER "RESPONSIBLE".
<br><br>
<p><span style="font-weight: bold;">
        SECURITY
    </span></p>
    

WE HAVE TAKEN COMPREHENSIVE TECHNICAL AND ORGANIZATIONAL PRECAUTIONS TO PROTECT YOUR PERSONAL DATA FROM UNAUTHORIZED
ACCESS, MISUSE, LOSS AND OTHER EXTERNAL DISTURBANCES. TO THIS END, WE REGULARLY REVIEW OUR SECURITY MEASURES AND ADAPT
THEM TO THE STATE OF THE ART.
<br><br>
<p><span style="font-weight: bold;">
        YOUR RIGHTS
    </span></p>
    <br>
YOU HAVE THE FOLLOWING RIGHTS WITH REGARD TO YOUR PERSONAL DATA, WHICH YOU CAN ASSERT AGAINST US:

<ul>
    <li>
        RIGHT TO INFORMATION: YOU CAN REQUEST INFORMATION IN ACCORDANCE WITH ART. 15 GDPR ABOUT YOUR PERSONAL DATA THAT
        WE PROCESS.
    </li>
    <li>
        RIGHT TO CORRECTION : IF THE INFORMATION CONCERNING YOU IS NOT (OR NO LONGER) CORRECT, YOU CAN REQUEST A
        CORRECTION IN ACCORDANCE WITH ART. 16 GDPR. IF YOUR DATA IS INCOMPLETE, YOU CAN REQUEST A COMPLETION.

    </li>
    <li>
        RIGHT TO ERASURE : IN ACCORDANCE WITH ART. 17 GDPR, YOU CAN REQUEST THE ERASURE OF YOUR PERSONAL DATA.

    </li>
    <li>
        RIGHT TO RESTRICTION OF PROCESSING: IN ACCORDANCE WITH ART. 18 GDPR, YOU HAVE THE RIGHT TO REQUEST A RESTRICTION
        OF YOUR PERSONAL DATA.

    </li>
    <li>
        RIGHT TO OBJECT TO PROCESSING:YOU HAVE THE RIGHT, FOR REASONS ARISING FROM YOUR PARTICULAR SITUATION, TO OBJECT
        AT ANY TIME TO THE PROCESSING OF YOUR PERSONAL DATA, WHICH IS BASED ON ARTICLE 6 (1) SENTENCE 1 LIT. E) OR LIT.
        F) GDPR, PURSUANT TO ART 21 (1) GDPR TO LODGE AN OBJECTION. IN THIS CASE, WE WILL NOT PROCESS YOUR DATA FURTHER
        UNLESS WE CAN DEMONSTRATE COMPELLING LEGITIMATE GROUNDS FOR PROCESSING THAT OUTWEIGH YOUR INTERESTS, RIGHTS AND
        FREEDOMS, AND IF THE PROCESSING SERVES TO ASSERT AND EXERCISE OR DEFEND AGAINST LEGAL CLAIMS ( ART. 21 PARA. 1
        GDPR). IN ADDITION, ACCORDING TO ART. 21 PARA. 2 GDPR, YOU HAVE THE RIGHT TO OBJECT AT ANY TIME TO THE
        PROCESSING OF PERSONAL DATA RELATING TO YOU FOR THE PURPOSE OF DIRECT ADVERTISING; THIS ALSO APPLIES TO ANY
        PROFILING, TO THE EXTENT THAT IT IS RELATED TO SUCH DIRECT MAIL. WE DRAW YOUR ATTENTION TO THE RIGHT OF
        OBJECTION IN THIS DATA PROTECTION DECLARATION IN CONNECTION WITH THE RESPECTIVE PROCESSING.

    </li>
    <li>
        RIGHT TO REVOKE YOUR CONSENT : IF YOU HAVE GIVEN YOUR CONSENT TO PROCESSING, YOU HAVE A RIGHT OF REVOCATION IN
        ACCORDANCE WITH ARTICLE 7 (3) GDPR.

    </li>
    <li>
        RIGHT TO DATA PORTABILITY : YOU HAVE THE RIGHT TO RECEIVE THE PERSONAL DATA THAT YOU HAVE PROVIDED TO US IN A
        STRUCTURED, COMMON AND MACHINE-READABLE FORMAT ("DATA PORTABILITY") AND THE RIGHT TO HAVE THIS DATA TRANSMITTED
        TO ANOTHER PERSON RESPONSIBLE IF THE THE PREREQUISITE OF ART. 20 PARA. 1 LIT. A, B GDPR ARE MET (ART. 20 GDPR).

    </li>
</ul>
<br><br>
YOU CAN ASSERT YOUR RIGHTS BY NOTIFYING THE CONTACT DETAILS GIVEN IN THE "RESPONSIBLE" SECTION OR THE DATA PROTECTION
OFFICER APPOINTED BY US.

IF YOU BELIEVE THAT THE PROCESSING OF YOUR PERSONAL DATA VIOLATES DATA PROTECTION LAW, YOU ALSO HAVE THE RIGHT UNDER
ART. 77 GDPR TO COMPLAIN TO A DATA PROTECTION SUPERVISORY AUTHORITY OF YOUR CHOICE. THIS ALSO INCLUDES THE DATA
PROTECTION SUPERVISORY AUTHORITY RESPONSIBLE FOR THE PERSON RESPONSIBLE: BAVARIAN STATE OFFICE FOR DATA PROTECTION
SUPERVISION (BAYLDA), PROMENADE 18, 91522 ANSBACH POSTSTELLE@LDA.BAYERN.DE .
<br><br>
<p><span style="font-weight: bold;">
    USE OF OUR WEBSITE
</span>
<br><br>
IN PRINCIPLE, YOU CAN USE OUR WEBSITE FOR PURELY INFORMATIONAL PURPOSES WITHOUT DISCLOSING YOUR IDENTITY. WHEN ACCESSING
THE INDIVIDUAL PAGES OF THE WEBSITE IN THIS WAY, ONLY ACCESS DATA IS TRANSMITTED TO OUR WEB SPACE PROVIDER SO THAT THE
WEBSITE CAN BE DISPLAYED TO YOU. THE FOLLOWING DATA IS PROCESSED HERE:

<ul>
<li>BROWSER TYPE/ BROWSER VERSION,</li>
<li>OPERATING SYSTEM USED,</li>
<li>LANGUAGE AND VERSION OF THE BROWSER SOFTWARE,</li>
<li>DATE AND TIME OF ACCESS,</li>
<li>HOST NAME OF THE ACCESSING END DEVICE,</li>
<li>IP ADDRESS,</li>
<li>CONTENT OF THE REQUEST (SPECIFIC WEBSITE),</li>
<li>ACCESS STATUS/HTTP STATUS CODE,</li>
<li>WEBSITES THAT ARE ACCESSED VIA THE WEBSITE,</li>
<li>REFERRER URL (THE PREVIOUSLY VISITED WEBSITE),</li>
<li>MESSAGE WHETHER THE CALL WAS SUCCESSFUL AND</li>
<li>AMOUNT OF DATA TRANSFERRED.</li>
</ul>
THE TEMPORARY PROCESSING OF THIS DATA IS NECESSARY IN ORDER TO TECHNICALLY ENABLE THE WEBSITE VISIT AND DELIVERY OF THE
WEBSITE TO YOUR END DEVICE. THE ACCESS DATA IS NOT USED TO IDENTIFY INDIVIDUAL USERS AND IS NOT MERGED WITH OTHER DATA
SOURCES. FURTHER STORAGE IN LOG FILES (LOG FILES) TAKES PLACE TO ENSURE THE FUNCTIONALITY OF THE WEBSITE AND THE
SECURITY OF THE INFORMATION TECHNOLOGY SYSTEMS. THE LEGAL BASIS FOR PROCESSING IS ART. 6 (1) SENTENCE 1 LIT. F) GDPR.
OUR LEGITIMATE INTERESTS LIE IN ENSURING THE FUNCTIONALITY OF THE WEBSITE AND THE INTEGRITY AND SECURITY OF THE WEBSITE.
THE STORAGE OF ACCESS DATA IN LOG FILES, IN PARTICULAR THE IP ADDRESS, FOR A LONGER PERIOD OF TIME ENABLES US
RECOGNIZING AND BEING ABLE TO PREVENT ABUSE. THIS INCLUDES, FOR EXAMPLE, DEFENDING AGAINST REQUESTS THAT OVERLOAD THE
SERVICE OR ANY BOT USE. THE ACCESS DATA WILL BE DELETED AS SOON AS THEY ARE NO LONGER REQUIRED TO ACHIEVE THE PURPOSE OF
THEIR PROCESSING. IN THE CASE OF THE COLLECTION OF DATA FOR THE PROVISION OF THE WEBSITE, THIS IS THE CASE WHEN YOU END
YOUR VISIT TO THE WEBSITE. THE LOG DATA IS ALWAYS KEPT DIRECTLY AND ONLY ACCESSIBLE TO ADMINISTRATORS AND DELETED AFTER
SEVEN DAYS AT THE LATEST. AFTER THAT, THEY ARE ONLY AVAILABLE INDIRECTLY VIA THE RECONSTRUCTION OF BACKUP TAPES
(BACKUPS) AND ARE FINALLY DELETED AFTER A MAXIMUM OF FOUR WEEKS. AS SOON AS THEY ARE NO LONGER REQUIRED TO ACHIEVE THE
PURPOSE OF THEIR PROCESSING. IN THE CASE OF THE COLLECTION OF DATA FOR THE PROVISION OF THE WEBSITE, THIS IS THE CASE
WHEN YOU END YOUR VISIT TO THE WEBSITE. THE LOG DATA IS ALWAYS KEPT DIRECTLY AND ONLY ACCESSIBLE TO ADMINISTRATORS AND
DELETED AFTER SEVEN DAYS AT THE LATEST. AFTER THAT, THEY ARE ONLY AVAILABLE INDIRECTLY VIA THE RECONSTRUCTION OF BACKUP
TAPES (BACKUPS) AND ARE FINALLY DELETED AFTER A MAXIMUM OF FOUR WEEKS. AS SOON AS THEY ARE NO LONGER REQUIRED TO ACHIEVE
THE PURPOSE OF THEIR PROCESSING. IN THE CASE OF THE COLLECTION OF DATA FOR THE PROVISION OF THE WEBSITE, THIS IS THE
CASE WHEN YOU END YOUR VISIT TO THE WEBSITE. THE LOG DATA IS ALWAYS KEPT DIRECTLY AND ONLY ACCESSIBLE TO ADMINISTRATORS
AND DELETED AFTER SEVEN DAYS AT THE LATEST. AFTER THAT, THEY ARE ONLY AVAILABLE INDIRECTLY VIA THE RECONSTRUCTION OF
BACKUP TAPES (BACKUPS) AND ARE FINALLY DELETED AFTER A MAXIMUM OF FOUR WEEKS. THE LOG DATA IS ALWAYS KEPT DIRECTLY AND
ONLY ACCESSIBLE TO ADMINISTRATORS AND DELETED AFTER SEVEN DAYS AT THE LATEST. AFTER THAT, THEY ARE ONLY AVAILABLE
INDIRECTLY VIA THE RECONSTRUCTION OF BACKUP TAPES (BACKUPS) AND ARE FINALLY DELETED AFTER A MAXIMUM OF FOUR WEEKS. THE
LOG DATA IS ALWAYS KEPT DIRECTLY AND ONLY ACCESSIBLE TO ADMINISTRATORS AND DELETED AFTER SEVEN DAYS AT THE LATEST. AFTER
THAT, THEY ARE ONLY AVAILABLE INDIRECTLY VIA THE RECONSTRUCTION OF BACKUP TAPES (BACKUPS) AND ARE FINALLY DELETED AFTER
A MAXIMUM OF FOUR WEEKS.

YOU CAN OBJECT TO THE PROCESSING. YOU HAVE THE RIGHT TO OBJECT FOR REASONS THAT ARISE FROM YOUR PARTICULAR SITUATION.
YOU CAN SEND US YOUR OBJECTION USING THE CONTACT DETAILS GIVEN IN THE “RESPONSIBLE” SECTION.
<br><br>
<p><span style="font-weight: bold;">
    TRACKING
</span>
<br><br>
IN ADDITION TO THE AFOREMENTIONED ACCESS DATA, SO-CALLED COOKIES, PIXELS, BROWSER FINGERPRINTING OR OTHER TRACKING
TECHNOLOGIES ARE USED WHEN USING THE WEBSITE. COOKIES ARE SMALL TEXT FILES WITH A SEQUENCE OF NUMBERS THAT ARE STORED
LOCALLY IN THE CACHE OF THE BROWSER USED. PIXELS ARE ONE-PIXEL IMAGES THAT ARE CREATED OPAQUE OR IN THE BACKGROUND COLOR
OF THE WEBSITE AND ARE THEREFORE NOT VISIBLE TO THE USER. THE PIXEL ALSO COLLECTS INFORMATION ABOUT YOUR USER BEHAVIOR
ON THE WEBSITE. FINGERPRINTING TECHNOLOGIES GENERATE A UNIQUE FINGERPRINT BASED ON THE BROWSER SETTINGS AND THUS
IDENTIFY AN INDIVIDUAL BROWSER. USING A SCRIPT THAT EVERY INTERNET BROWSER RUNS AUTOMATICALLY, INFORMATION SUCH AS THE
RESOLUTION OF THE SCREEN, FONTS USED, OPERATING SYSTEM, HARDWARE INFORMATION AND INTEGRATED BROWSER PLUGINS ARE
COLLECTED, WHICH IN THEIR SPECIFIC COMBINATION CAN ULTIMATELY ENABLE A RETURN TO A SPECIFIC USER. THE TRACKING
TECHNOLOGIES SERVE TO MAKE OUR WEBSITE USER-FRIENDLY. THE USE OF TRACKING TECHNOLOGIES MAY BE TECHNICALLY NECESSARY OR
FOR OTHER PURPOSES (E.G. ANALYSIS/EVALUATION OF WEBSITE USAGE).
<br><br>
<p><span style="font-weight: bold;">
    
    TECHNICALLY NECESSARY ELEMENTS
</span>
<br><br>
SOME ELEMENTS OF OUR WEBSITE REQUIRE THAT THE CALLING BROWSER CAN BE IDENTIFIED EVEN AFTER A PAGE CHANGE. IN THE
TECHNICALLY NECESSARY ELEMENTS, SUCH AS IN PARTICULAR COOKIES OR SIMILAR METHODS OF TERMINAL DEVICE ACCESS, THE ITEMS IN
THE SHOPPING CART, FOR EXAMPLE, ARE PROCESSED FOR THE PURPOSE OF CARRYING OUT OR FACILITATING ELECTRONIC COMMUNICATION
AND PROVIDING AN INFORMATION SOCIETY SERVICE REQUESTED BY THE USER.

THE USER DATA COLLECTED THROUGH TECHNICALLY NECESSARY ELEMENTS ARE NOT PROCESSED TO CREATE USER PROFILES. WE ALSO USE
SO-CALLED "SESSION COOKIES", WHICH STORE A SESSION ID WITH WHICH VARIOUS REQUESTS FROM YOUR BROWSER CAN BE ASSIGNED TO
THE JOINT SESSION. "SESSION COOKIES" ARE NECESSARY FOR USING THE WEBSITE. IN PARTICULAR, WE CAN USE IT TO RECOGNIZE THE
END DEVICE USED WHEN YOU RETURN TO THE WEBSITE. THE LEGAL BASIS FOR THIS PROCESSING IS ART. 6 (1) SENTENCE 1 LIT. F)
GDPR. OUR LEGITIMATE INTEREST IN PROCESSING CONSISTS IN PROVIDING THE SPECIAL FUNCTIONALITIES MENTIONED AND THEREBY
MAKING THE USE OF THE WEBSITE MORE ATTRACTIVE AND EFFECTIVE. THE "SESSION COOKIES" ARE DELETED DEPENDING ON

YOU CAN OBJECT TO THE PROCESSING. YOU HAVE THE RIGHT TO OBJECT FOR REASONS THAT ARISE FROM YOUR PARTICULAR SITUATION.
YOU CAN SEND US YOUR OBJECTION USING THE CONTACT DETAILS GIVEN IN THE “RESPONSIBLE” SECTION.

TECHNICALLY UNNECESSARY TRACKING

WE ALSO USE COOKIES, PIXELS, BROWSER FINGERPRINTING AND OTHER TRACKING TECHNOLOGIES ON THE WEBSITE TO ENABLE AN ANALYSIS
OF THE SURFING BEHAVIOR OF USERS. FOR EXAMPLE, THE FOLLOWING DATA IS STORED AND PROCESSED:

FREQUENCY OF PAGE VIEWS,
USE OF WEBSITE FUNCTIONS.
THE LEGAL BASIS FOR THIS PROCESSING IS YOUR CONSENT IN ACCORDANCE WITH ARTICLE 6 PARAGRAPH 1 CLAUSE 1 LETTER A) GDPR.
THE TECHNICALLY UNNECESSARY COOKIES, PIXELS AND OTHER TRACKING TECHNOLOGIES ARE AUTOMATICALLY DELETED AFTER A SPECIFIED
PERIOD, WHICH MAY DIFFER DEPENDING ON THE TRACKING METHOD. INSOFAR AS WE INTEGRATE THIRD-PARTY COOKIES OR PIXELS AND
SIMILAR TRACKING TECHNOLOGIES INTO OUR WEBSITE, WE WILL POINT THIS OUT TO YOU SEPARATELY BELOW.

YOU CAN REVOKE YOUR CONSENT TO THE PROCESSING OF THE RESPECTIVE PROVIDER AT ANY TIME BY PUSHING BACK THE CONTROLLER IN
THE "SETTINGS" [ LINK ] OF THE CONSENT TOOL. THE LEGALITY OF THE PROCESSING REMAINS UNAFFECTED UNTIL THE REVOCATION IS
EXERCISED.
<br><br>
<p><span style="font-weight: bold;">
    
    CONSENT MANAGEMENT PLATFORM GDPR/CCPA + COOKIE MANAGEMENT
</span>
<br><br>
IN ORDER TO REQUEST CONSENT FOR THE PROCESSING OF YOUR END DEVICE INFORMATION AND PERSONAL DATA USING COOKIES OR OTHER
TRACKING TECHNOLOGIES ON OUR WEBSITE, WE USE THE “GDPR/CCPA + COOKIE MANAGEMENT” CONSENT TOOL. THE “GDPR/CCPA + COOKIE
MANAGEMENT” GIVES YOU THE OPPORTUNITY TO CONSENT OR OBJECT TO THE PROCESSING OF YOUR DEVICE INFORMATION AND PERSONAL
DATA USING COOKIES OR OTHER TRACKING TECHNOLOGIES FOR THE PURPOSES SET OUT IN THE “GDPR/CCPA + COOKIE MANAGEMENT”. SUCH
PROCESSING PURPOSES CAN INCLUDE THE INTEGRATION OF EXTERNAL ELEMENTS, INTEGRATION OF STREAMING CONTENT, STATISTICAL
ANALYSIS, RANGE MEASUREMENT AND PERSONALIZED ADVERTISING. YOU CAN USE GDPR/CCPA + COOKIE MANAGEMENT TO OPT-IN OR OPT-OUT
FOR ALL PROCESSING PURPOSES, OR OPT-IN OR OPT-OUT FOR INDIVIDUAL PURPOSES OR INDIVIDUAL THIRD PARTIES. YOU CAN ALSO
CHANGE THE SETTINGS YOU HAVE MADE AFTERWARDS. THE PURPOSE OF THE INTEGRATION OF "GDPR/CCPA + COOKIE MANAGEMENT" IS TO
ALLOW THE USERS OF OUR WEBSITE TO DECIDE WHETHER TO SET COOKIES AND SIMILAR FUNCTIONALITIES AND, AS PART OF THEIR
CONTINUED USE OF OUR WEBSITE, TO OFFER THEM THE OPPORTUNITY TO CHANGE SETTINGS THAT HAVE ALREADY BEEN MADE. IN THE
COURSE OF USING "GDPR/CCPA + COOKIE MANAGEMENT", WE PROCESS PERSONAL DATA AND INFORMATION ON THE END DEVICES USED. YOUR
DATA WILL ALSO BE SENT TO "GDPR/CCPA + COOKIE MANAGEMENT" (ISENSE LLC 855 MAUDE AVE, MOUNTAIN VIEW, CA 94043). THE
INFORMATION ABOUT THE SETTINGS YOU HAVE MADE WILL ALSO BE STORED ON YOUR END DEVICE. THE LEGAL BASIS FOR PROCESSING IS
ARTICLE 6 PARAGRAPH 1 SENTENCE 1 LETTER C) GDPR IN CONJUNCTION WITH ARTICLE 7 PARAGRAPH 1 GDPR, INSOFAR AS THE
PROCESSING SERVES TO FULFILL THE STATUTORY OBLIGATIONS TO PROVIDE EVIDENCE FOR THE GRANTING OF CONSENT. OTHERWISE,
ARTICLE 6 PARAGRAPH 1 SENTENCE 1 LETTER F) GDPR IS THE RELEVANT LEGAL BASIS. OUR LEGITIMATE INTERESTS IN PROCESSING LIE
IN THE STORAGE OF USER SETTINGS AND PREFERENCES IN RELATION TO THE USE OF COOKIES AND THE EVALUATION OF CONSENT RATES.
TO THE INFORMATION ABOUT THE SETTINGS YOU HAVE MADE WILL ALSO BE STORED ON YOUR END DEVICE. THE LEGAL BASIS FOR
PROCESSING IS ARTICLE 6 PARAGRAPH 1 SENTENCE 1 LETTER C) GDPR IN CONJUNCTION WITH ARTICLE 7 PARAGRAPH 1 GDPR, INSOFAR AS
THE PROCESSING SERVES TO FULFILL THE STATUTORY OBLIGATIONS TO PROVIDE EVIDENCE FOR THE GRANTING OF CONSENT. OTHERWISE,
ARTICLE 6 PARAGRAPH 1 SENTENCE 1 LETTER F) GDPR IS THE RELEVANT LEGAL BASIS. OUR LEGITIMATE INTERESTS IN PROCESSING LIE
IN THE STORAGE OF USER SETTINGS AND PREFERENCES IN RELATION TO THE USE OF COOKIES AND THE EVALUATION OF CONSENT RATES.
TO THE INFORMATION ABOUT THE SETTINGS YOU HAVE MADE WILL ALSO BE STORED ON YOUR END DEVICE. THE LEGAL BASIS FOR
PROCESSING IS ARTICLE 6 PARAGRAPH 1 SENTENCE 1 LETTER C) GDPR IN CONJUNCTION WITH ARTICLE 7 PARAGRAPH 1 GDPR, INSOFAR AS
THE PROCESSING SERVES TO FULFILL THE STATUTORY OBLIGATIONS TO PROVIDE EVIDENCE FOR THE GRANTING OF CONSENT. OTHERWISE,
ARTICLE 6 PARAGRAPH 1 SENTENCE 1 LETTER F) GDPR IS THE RELEVANT LEGAL BASIS. OUR LEGITIMATE INTERESTS IN PROCESSING LIE
IN THE STORAGE OF USER SETTINGS AND PREFERENCES IN RELATION TO THE USE OF COOKIES AND THE EVALUATION OF CONSENT RATES.
TO INSOFAR AS THE PROCESSING SERVES TO FULFILL THE STATUTORY OBLIGATIONS TO PROVIDE EVIDENCE FOR THE GRANTING OF
CONSENT. OTHERWISE, ARTICLE 6 PARAGRAPH 1 SENTENCE 1 LETTER F) GDPR IS THE RELEVANT LEGAL BASIS. OUR LEGITIMATE
INTERESTS IN PROCESSING LIE IN THE STORAGE OF USER SETTINGS AND PREFERENCES IN RELATION TO THE USE OF COOKIES AND THE
EVALUATION OF CONSENT RATES. TO INSOFAR AS THE PROCESSING SERVES TO FULFILL THE STATUTORY OBLIGATIONS TO PROVIDE
EVIDENCE FOR THE GRANTING OF CONSENT. OTHERWISE, ARTICLE 6 PARAGRAPH 1 SENTENCE 1 LETTER F) GDPR IS THE RELEVANT LEGAL
BASIS. OUR LEGITIMATE INTERESTS IN PROCESSING LIE IN THE STORAGE OF USER SETTINGS AND PREFERENCES IN RELATION TO THE USE
OF COOKIES AND THE EVALUATION OF CONSENT RATES. TOTWELVE MONTHS AFTER THE USER SETTINGS HAVE BEEN MADE, THERE IS A
RENEWED QUERY FOR CONSENT. THE USER SETTINGS MADE ARE THEN SAVED AGAIN FOR THIS PERIOD OF TIME, UNLESS YOU FIRST DELETE
THE INFORMATION ABOUT YOUR USER SETTINGS IN THE END DEVICE CAPACITIES PROVIDED FOR THIS PURPOSE. ISENSE LLC ALSO
PROCESSES YOUR DATA IN THE USA. THERE IS NO ADEQUACY DECISION BY THE EU COMMISSION FOR A DATA TRANSFER TO THE USA. THE
LEGAL BASIS FOR THE DATA TRANSFER IS ART. 46 PARA. 2 C) GDPR. BANZAI GMBH & CO. KG HAS CONCLUDED THE STANDARD DATA
PROTECTION CLAUSES ISSUED BY THE COMMISSION WITH ISENSE LLC. WE WILL PROVIDE YOU WITH A COPY OF THE CLAUSES UPON
REQUEST.

YOU CAN OBJECT TO THE PROCESSING IF THE PROCESSING IS BASED ON ARTICLE 6 (1) SENTENCE 1 LIT. F) GDPR. YOU HAVE THE RIGHT
TO OBJECT FOR REASONS THAT ARISE FROM YOUR PARTICULAR SITUATION. YOU CAN PREVENT PROCESSING BY DELETING THE HISTORY AND
WEBSITE DATA IN THE SETTINGS OF YOUR BROWSER SOFTWARE OR BY OPENING THE BROWSER USED IN "PRIVATE MODE".
<br><br>
<p><span style="font-weight: bold;">
    CONTACTING OUR COMPANY
</span>
<br><br>
IF YOU CONTACT OUR COMPANY, E.G. BY E-MAIL OR VIA THE CONTACT FORM ON THE WEBSITE, THE PERSONAL DATA YOU PROVIDE, IN
PARTICULAR YOUR NAME, E-MAIL ADDRESS, TELEPHONE NUMBER AND THE CONTENT OF THE MESSAGE, WILL BE PROCESSED BY US IN ORDER
TO RESPOND TO YOUR ENQUIRY TO ANSWER. IN ORDER TO PROCESS INQUIRIES VIA THE CONTACT FORM ON THE WEBSITE, IT IS MANDATORY
TO PROVIDE A VALID E-MAIL ADDRESS. AT THE TIME THE MESSAGE IS SENT TO US, YOUR IP ADDRESS AND THE DATE AND TIME OF
SENDING ARE ALSO PROCESSED. DEPENDING ON YOUR ENTRIES, YOUR TELEPHONE NUMBER AND THE MESSAGE TEXT WILL ALSO BE
PROCESSED. THE LEGAL BASIS FOR PROCESSING IS ART. 6 PARA. 11 LIT. F) GDPR OR ARTICLE 6 PARAGRAPH 1 SENTENCE 1 LIT. B)
GDPR IF THE CONTACT IS AIMED AT CONCLUDING A CONTRACT. IF THE REQUEST IS AIMED AT CONCLUDING A CONTRACT, THE DETAILS OF
YOUR DATA ARE REQUIRED AND OBLIGATORY FOR THE CONCLUSION OF A CONTRACT. IF THE DATA IS NOT PROVIDED, IT IS NOT POSSIBLE
TO CONCLUDE OR IMPLEMENT A CONTRACT IN THE FORM OF CONTACTING US OR PROCESSING THE REQUEST. THE PROCESSING OF THE
PERSONAL DATA FROM THE INPUT MASK SERVES SOLELY TO PROCESS THE CONTACT. IF CONTACT IS MADE BY E-MAIL, THIS IS ALSO THE
NECESSARY LEGITIMATE INTEREST IN THE PROCESSING OF THE DATA. THE OTHER DATA PROCESSED DURING THE SENDING PROCESS SERVE
TO TO PREVENT MISUSE OF THE CONTACT FORM AND TO ENSURE THE SECURITY OF OUR INFORMATION TECHNOLOGY SYSTEMS. IN THIS
CONTEXT, THE DATA IS NOT PASSED ON TO THIRD PARTIES. WE DELETE THE DATA ARISING IN THIS CONTEXT AFTER THE PROCESSING IS
NO LONGER NECESSARY OR, IF NECESSARY, RESTRICT THE PROCESSING TO COMPLIANCE WITH THE EXISTING STATUTORY STORAGE
OBLIGATIONS.

YOU CAN OBJECT TO THE PROCESSING. YOU HAVE THE RIGHT TO OBJECT FOR REASONS THAT ARISE FROM YOUR PARTICULAR SITUATION.
YOU CAN SEND US YOUR OBJECTION USING THE CONTACT DETAILS GIVEN IN THE “RESPONSIBLE” SECTION.
<br><br>
<p><span style="font-weight: bold;">
    APPLICATION PROCESS
</span>
<br><br>
AS PART OF THE APPLICATION PROCESS, WE PROCESS YOUR CONTACT DATA, SUCH AS NAME, ADDRESS, E-MAIL ADDRESS, TELEPHONE
NUMBER(S), DATA FROM YOUR APPLICATION DOCUMENTS, IN PARTICULAR CERTIFICATES, CURRICULUM VITAE, COVER LETTER, DATE OF
BIRTH AND GENDER, ANY SPECIAL CATEGORIES OF PERSONAL DATA SUCH AS MARITAL STATUS AND DEGREE OF DISABILITY. THE PURPOSE
OF THE PROCESSING IS TO CHECK YOUR SUITABILITY FOR A POSITION IN OUR COMPANY AND TO CARRY OUT THE APPLICATION PROCESS.
IN THE CASE OF AN (UNSOLICITED) APPLICATION BY E-MAIL, WE ALSO PROCESS METADATA FROM YOUR E-MAIL, SUCH AS THE DATE AND
TIME FOR CARRYING OUT THE APPLICATION PROCESS.

THE LEGAL BASIS FOR PROCESSING IS ARTICLE 6 PARAGRAPH 1 SENTENCE 1 LETTER B) GDPR IN CONJUNCTION WITH SECTION 26
PARAGRAPH 1 BDSG, INSOFAR AS THE DATA PROCESSING IS NECESSARY FOR THE ESTABLISHMENT AND EXECUTION OF THE EMPLOYMENT
RELATIONSHIP. WHEN PROCESSING SPECIAL CATEGORIES OF PERSONAL DATA, THE LEGAL BASIS IS ARTICLE 9 PARAGRAPH 2 LETTER B)
GDPR IN CONJUNCTION WITH SECTION 26 PARAGRAPH 3 BDSG. THE PROVISION OF YOUR DATA IS NECESSARY AND OBLIGATORY FOR THE
CONCLUSION AND IMPLEMENTATION OF THE CONTRACT. IF YOU DO NOT PROVIDE YOUR DATA, YOU CANNOT APPLY TO US.

WE STORE YOUR DATA AS LONG AS IT IS NECESSARY IN CONNECTION WITH THE APPLICATION PROCESS. AS A RULE, WE DELETE YOUR
PERSONAL DATA AS SOON AS THEY ARE NO LONGER REQUIRED FOR THE ABOVE PURPOSES AND UNLESS OTHERWISE REQUIRED BY LAW. IN
PARTICULAR, WE KEEP PERSONAL DATA FOR AS LONG AS WE NEED IT TO ASSERT LEGAL CLAIMS OR TO DEFEND AGAINST CLAIMS.
ACCORDINGLY, WE DELETE THE DATA OF APPLICANTS IN THE EVENT OF A REJECTION SIX MONTHS AFTER SENDING THE REJECTION NOTICE.
THE LEGAL BASIS FOR PROCESSING FOR THE PURPOSES OF LEGAL PROSECUTION IS ARTICLE 6 PARAGRAPH 1 LETTER B) GDPR IN
CONJUNCTION WITH SECTION 26 PARAGRAPH 1 BDSG. WHEN PROCESSING SPECIAL CATEGORIES OF PERSONAL DATA, IN PARTICULAR
POSSIBLE DISABILITIES, THE LEGAL BASIS IS ART. 9 PARA.

IN THE EVENT OF AN APPLICATION BEING ACCEPTED, WE STORE YOUR DATA FOR THE SUBSEQUENT EMPLOYMENT RELATIONSHIP WITHIN OUR
EMPLOYEE ADMINISTRATION. FURTHER INFORMATION CAN BE FOUND IN THE DATA PROTECTION INFORMATION FOR EMPLOYEES.

YOU CAN REVOKE YOUR CONSENT AT ANY TIME BY SENDING US A MESSAGE (SEE CONTACT DETAILS IN THE "RESPONSIBLE" SECTION). THE
LEGALITY OF THE PROCESSING REMAINS UNAFFECTED UNTIL THE REVOCATION IS EXERCISED.
<br><br>
<p><span style="font-weight: bold;">
    PROCESSING FOR CONTRACTUAL PURPOSES
</span>
<br><br>
WE PROCESS YOUR PERSONAL DATA IF AND TO THE EXTENT THAT THIS IS NECESSARY FOR THE INITIATION, JUSTIFICATION,
IMPLEMENTATION AND/OR TERMINATION OF A LEGAL TRANSACTION WITH OUR COMPANY. THE LEGAL BASIS FOR THIS IS ARTICLE 6
PARAGRAPH 1 SENTENCE 1 LETTER B) GDPR. THE PROVISION OF YOUR DATA IS NECESSARY FOR THE CONCLUSION OF THE CONTRACT AND
YOU ARE CONTRACTUALLY OBLIGED TO MAKE YOUR DATA AVAILABLE. IF YOUR DATA IS NOT PROVIDED, IT IS NOT POSSIBLE TO CONCLUDE
AND/OR EXECUTE A CONTRACT. AFTER THE PURPOSE HAS BEEN ACHIEVED (E.G. CONTRACT PROCESSING), THE PERSONAL DATA WILL BE
BLOCKED FOR FURTHER PROCESSING OR DELETED, UNLESS WE HAVE GIVEN YOUR CONSENT (E.G. CONSENT TO THE PROCESSING OF THE
E-MAIL ADDRESS FOR SENDING ELECTRONIC ADVERTISING MAIL),
<br><br>
<p><span style="font-weight: bold;">
    YOUR PERSONAL DATA WILL BE PASSED ON TO THIRD PARTIES IF
</span>
<br><br>
IT IS NECESSARY FOR THE ESTABLISHMENT, IMPLEMENTATION OR TERMINATION OF LEGAL TRANSACTIONS WITH OUR COMPANY (E.G. WHEN
PASSING ON DATA TO A PAYMENT SERVICE PROVIDER/A SHIPPING COMPANY TO PROCESS A CONTRACT WITH YOU), (ART. 6 PARA. 1 S. 1
LIT. B ) GDPR), OR
A SUBCONTRACTOR OR VICARIOUS AGENT, WHOM WE USE EXCLUSIVELY WITHIN THE SCOPE OF PROVIDING THE OFFERS OR SERVICES YOU
REQUIRE, REQUIRES THIS DATA (UNLESS YOU HAVE BEEN EXPRESSLY INFORMED OTHERWISE, SUCH AUXILIARY PERSONS ARE ONLY ENTITLED
TO PROCESS THE DATA TO THE EXTENT THAT THIS IS NECESSARY FOR THE PERFORMANCE OF THE OFFER OR SERVICE IS NECESSARY), OR
AN ENFORCEABLE OFFICIAL ORDER (ART. 6 PARA. 1 S. 1 LIT. C) GDPR) EXISTS, OR
THERE IS AN ENFORCEABLE COURT ORDER (ART. 6 PARA. 1 S. 1 LIT. C) GDPR), OR
WE ARE OBLIGED TO DO SO BY LAW (ART. 6 PARA. 1 S. 1 LIT. C) GDPR), OR
THE PROCESSING IS NECESSARY TO PROTECT THE VITAL INTERESTS OF THE DATA SUBJECT OR ANOTHER NATURAL PERSON (ART. 6 PARA. 1
S. 1 LIT. D) GDPR), OR
IT IS NECESSARY FOR THE PERFORMANCE OF A TASK THAT IS IN THE PUBLIC INTEREST OR IN THE EXERCISE OF OFFICIAL AUTHORITY
(ARTICLE 6 (1) SENTENCE 1 LIT. E) GDPR), OR
WE CAN INVOKE OUR OVERRIDING LEGITIMATE INTERESTS OR A THIRD PARTY FOR DISCLOSURE (ARTICLE 6 (1) SENTENCE 1 LIT. F)
GDPR).
YOUR PERSONAL DATA WILL NOT BE PASSED ON TO OTHER PEOPLE, COMPANIES OR BODIES UNLESS YOU HAVE GIVEN YOUR EFFECTIVE
CONSENT TO SUCH A TRANSFER. THE LEGAL BASIS FOR THE PROCESSING IS ARTICLE 6 PARAGRAPH 1 CLAUSE 1 LETTER A) GDPR. WITHIN
THE SCOPE OF THIS DATA PROTECTION INFORMATION, WE REFER YOU TO THE RESPECTIVE RECIPIENTS IN RELATION TO THE RESPECTIVE
PROCESSING OPERATION.
<br><br>
<p><span style="font-weight: bold;">
    ONLINE SHOP
</span>
<br><br>
IF YOU PLACE AN ORDER IN OUR ONLINE SHOP OR WOULD LIKE TO BUY A VOUCHER, IT IS NECESSARY AND OBLIGATORY FOR THE CONTRACT
INITIATION AND THE CONCLUSION OF THE CONTRACT THAT YOU PROVIDE PERSONAL DATA SUCH AS YOUR FIRST AND LAST NAME, YOUR
ADDRESS AND YOUR E-MAIL ADDRESS. IN THIS CONTEXT, PAYMENT DATA, METADATA SUCH AS THE IP ADDRESS AND INFORMATION ABOUT
THE PRODUCTS AND PRICES PURCHASED ARE ALSO PROCESSED. IF YOU PURCHASE A VOUCHER AND WANT THE VOUCHER TO BE LINKED TO A
MESSAGE, THE DATA PROVIDED IN THIS CONTEXT WILL ALSO BE PROCESSED. THE MANDATORY INFORMATION REQUIRED FOR ORDER AND
CONTRACT PROCESSING IS MARKED SEPARATELY, FURTHER INFORMATION IS PROVIDED VOLUNTARILY. WE PROCESS YOUR DATA FOR ORDER
PROCESSING VIA THE SHOP SYSTEM OF THE PROVIDER "SHOPIFY" (SHOPIFY INTERNATIONAL LTD. ATTN: DATA PROTECTION OFFICER C/O
INTERTRUST IRELAND, 2ND FLOOR 1-2 VICTORIA BUILDINGS, HADDINGTON ROAD, DUBLIN 4, D04 XN32. IRELAND AND SHOPIFY INC.
ATTN: CHIEF PRIVACY OFFICER, 151 O'CONNOR STREET, GROUND FLOOR, OTTAWA, ON K2P 2L8, CANADA), SO THAT ALL DATA IS ALSO
PROCESSED BY "SHOPIFY". IN ADDITION, FOR THE PURPOSE OF ORDER PROCESSING, WE WILL IN PARTICULAR FORWARD PAYMENT DATA TO
THE PAYMENT SERVICE PROVIDER YOU HAVE SELECTED OR TO OUR HOUSE BANK. THE LEGAL BASIS FOR PROCESSING IS ART. ON K2P 2L8,
CANADA), SO THAT ALL DATA IS ALSO PROCESSED BY "SHOPIFY". IN ADDITION, FOR THE PURPOSE OF ORDER PROCESSING, WE WILL IN
PARTICULAR FORWARD PAYMENT DATA TO THE PAYMENT SERVICE PROVIDER YOU HAVE SELECTED OR TO OUR HOUSE BANK. THE LEGAL BASIS
FOR PROCESSING IS ART. ON K2P 2L8, CANADA), SO THAT ALL DATA IS ALSO PROCESSED BY "SHOPIFY". IN ADDITION, FOR THE
PURPOSE OF ORDER PROCESSING, WE WILL IN PARTICULAR FORWARD PAYMENT DATA TO THE PAYMENT SERVICE PROVIDER YOU HAVE
SELECTED OR TO OUR HOUSE BANK. THE LEGAL BASIS FOR PROCESSING IS ART. 6 PARAGRAPH 1 SENTENCE 1 LIT. B) GDPR. THE
PROVISION OF YOUR DATA IS NECESSARY AND OBLIGATORY FOR THE CONCLUSION AND IMPLEMENTATION OF THE CONTRACT. IF YOUR DATA
IS NOT PROVIDED, IT IS NOT POSSIBLE TO CONCLUDE AND/OR EXECUTE A CONTRACT. TO PREVENT UNAUTHORIZED THIRD PARTIES FROM
ACCESSING YOUR PERSONAL DATA, THE ORDERING PROCESS ON THE WEBSITE IS ENCRYPTED USING SSL TECHNOLOGY.

WE DELETE THE DATA ARISING IN THIS CONTEXT AFTER THE STORAGE IS NO LONGER NECESSARY, OR RESTRICT THE PROCESSING IF THERE
ARE STATUTORY STORAGE OBLIGATIONS. DUE TO MANDATORY COMMERCIAL AND TAX REGULATIONS, WE ARE OBLIGED TO KEEP YOUR ADDRESS,
PAYMENT AND ORDER DATA FOR A PERIOD OF UP TO TEN YEARS. TWO YEARS AFTER THE END OF THE CONTRACT, WE RESTRICT THE
PROCESSING AND REDUCE THE PROCESSING TO COMPLIANCE WITH THE EXISTING LEGAL OBLIGATIONS. SHOPIFY ALSO PROCESSES YOUR
PERSONAL DATA IN CANADA. THE LEGAL BASIS FOR THE TRANSMISSION TO CANADA IS THE ADEQUACY DECISION OF THE EU COMMISSION OF
DECEMBER 20, 2001 IN ACCORDANCE WITH ARTICLE 45 (1) GDPR. "SHOPIFY" ALSO PROCESSES YOUR DATA IN THE USA. THERE IS NO
ADEQUACY DECISION BY THE EU COMMISSION FOR A DATA TRANSFER TO THE USA. THE LEGAL BASIS FOR THE DATA TRANSFER IS ART. 46
PARA. 2 C) GDPR. BANZAI GMBH & CO. KG HAS CONCLUDED THE STANDARD DATA PROTECTION CLAUSES ISSUED BY THE COMMISSION WITH
"SHOPIFY". WE WILL PROVIDE YOU WITH A COPY OF THE CLAUSES UPON REQUEST. FURTHER INFORMATION ON THE PURPOSE AND SCOPE OF
PROCESSING BY "SHOPIFY" CAN BE FOUND AT HTTPS://WWW.SHOPIFY.DE/LEGAL/DATENSCHUTZ AND IN THE COOKIE POLICY AT
HTTPS://WWW.SHOPIFY.DE/LEGAL/COOKIES. WE WILL PROVIDE YOU WITH A COPY OF THE CLAUSES UPON REQUEST. FURTHER INFORMATION
ON THE PURPOSE AND SCOPE OF PROCESSING BY "SHOPIFY" CAN BE FOUND AT HTTPS://WWW.SHOPIFY.DE/LEGAL/DATENSCHUTZ AND IN THE
COOKIE POLICY AT HTTPS://WWW.SHOPIFY.DE/LEGAL/COOKIES. WE WILL PROVIDE YOU WITH A COPY OF THE CLAUSES UPON REQUEST.
FURTHER INFORMATION ON THE PURPOSE AND SCOPE OF PROCESSING BY "SHOPIFY" CAN BE FOUND AT
HTTPS://WWW.SHOPIFY.DE/LEGAL/DATENSCHUTZ AND IN THE COOKIE POLICY AT HTTPS://WWW.SHOPIFY.DE/LEGAL/COOKIES.
<br><br>
<p><span style="font-weight: bold;">
    LOGISTICS PROVIDER
</span>
<br><br>
IF YOU PLACE AN ORDER IN OUR ONLINE SHOP, IT IS NECESSARY FOR THE SHIPMENT OF THE GOODS TO PASS ON PERSONAL DATA SUCH AS
YOUR NAME AND ADDRESS AS WELL AS INFORMATION ABOUT THE SHIPMENT TO LOGISTICS AND SHIPPING SERVICE PROVIDERS. FOR THIS
PURPOSE WE USE THE PROVIDER "LOGSTA" (LOGSTA GERMANY GMBH, ELBESTRASSE 2, 84453 MÜHLDORF AM INN, GERMANY).LOGSTA PASSES
ON YOUR PERSONAL DATA TO SHIPPING SERVICE PROVIDERS. THE LEGAL BASIS FOR THIS PROCESSING IS ART. 6 (1) SENTENCE 1 LIT.
B) GDPR. THE PROVISION OF YOUR DATA IS NECESSARY AND OBLIGATORY FOR THE CONCLUSION AND IMPLEMENTATION OF THE CONTRACT.
IF YOUR DATA IS NOT PROVIDED, IT IS NOT POSSIBLE TO CONCLUDE AND/OR EXECUTE A CONTRACT. THE STORAGE PERIOD AT "LOGSTA"
IS 10 YEARS. FURTHER INFORMATION ON DATA PROTECTION AT "LOGSTA" CAN BE FOUND
ATHTTPS://WWW.LOGSTA.COM/DE/DATENSCHUTZ?GCLID=EAIAIQOBCHMIGPBXT7DO9AIVB-D3CH0FZAG6EAAYASAAEGKLQFD_BWE .
<br><br>
<p><span style="font-weight: bold;">
    HOSTING
</span>
<br><br>
WE USE HOSTING SERVICES FROM THE PROVIDER "SHOPIFY" (SHOPIFY INTERNATIONAL LTD. ATTN: DATA PROTECTION OFFICER C/O
INTERTRUST IRELAND, 2ND FLOOR 1-2 VICTORIA BUILDINGS, HADDINGTON ROAD, DUBLIN 4, D04 XN32. IRELAND AND SHOPIFY INC.
ATTN: CHIEF PRIVACY OFFICER, 151 O'CONNOR STREET, GROUND FLOOR, OTTAWA, ON K2P 2L8, CANADA) TO PROVIDE THE FOLLOWING
SERVICES: INFRASTRUCTURE AND PLATFORM SERVICES, COMPUTING CAPACITY, STORAGE RESOURCES AND DATABASE SERVICES, SECURITY
AND TECHNICAL MAINTENANCE SERVICES. FOR THESE PURPOSES, ALL DATA - INCLUDING THE ACCESS DATA MENTIONED UNDER "USE OF OUR
WEBSITE" - ARE PROCESSED THAT ARE REQUIRED FOR THE OPERATION AND USE OF OUR WEBSITE. THE LEGAL BASIS FOR PROCESSING IS
ART. 6 (1) SENTENCE 1 LIT. F) GDPR. WITH THE USE OF EXTERNAL HOSTING SERVICES, WE PURSUE AN EFFICIENT AND SECURE
PROVISION OF OUR WEBSITE. SHOPIFY ALSO PROCESSES YOUR PERSONAL DATA IN CANADA. THE LEGAL BASIS FOR THE TRANSMISSION TO
CANADA IS THE ADEQUACY DECISION OF THE EU COMMISSION OF DECEMBER 20, 2001 IN ACCORDANCE WITH ARTICLE 45 (1) GDPR.
"SHOPIFY" ALSO PROCESSES YOUR DATA IN THE USA. THERE IS NO ADEQUACY DECISION BY THE EU COMMISSION FOR A DATA TRANSFER TO
THE USA. THE LEGAL BASIS FOR THE DATA TRANSFER IS ART. 46 PARA. 2 C) GDPR. BANZAI GMBH & CO. KG HAS CONCLUDED THE
STANDARD DATA PROTECTION CLAUSES ISSUED BY THE COMMISSION WITH "SHOPIFY". WE WILL PROVIDE YOU WITH A COPY OF THE CLAUSES
UPON REQUEST. FURTHER INFORMATION ON THE PURPOSE AND SCOPE OF PROCESSING BY "SHOPIFY" CAN BE FOUND
ATHTTPS://WWW.SHOPIFY.DE/LEGAL/DATENSCHUTZ AND IN THE COOKIE POLICY AT HTTPS://WWW.SHOPIFY.DE/LEGAL/COOKIES.

YOU CAN OBJECT TO THE PROCESSING. YOU HAVE THE RIGHT TO OBJECT FOR REASONS THAT ARISE FROM YOUR PARTICULAR SITUATION.
YOU CAN SEND US YOUR OBJECTION USING THE CONTACT DETAILS GIVEN IN THE “RESPONSIBLE” SECTION.

PAYMENT SERVICE PROVIDER (PSP)/ PAYMENT SERVICE PROVIDER
<br><br>
<p><span style="font-weight: bold;">
    SHOPIFY PAYMENTS
</span>
<br><br>
THE PAYMENT OPTIONS CREDIT CARD, KLARNA AND APPLE PAY ARE PROCESSED VIA "SHOPIFY PAYMENTS" (SHOPIFY INTERNATIONAL LTD.
ATTN: DATA PROTECTION OFFICER C/O INTERTRUST IRELAND, 2ND FLOOR 1-2 VICTORIA BUILDINGS, HADDINGTON ROAD, DUBLIN 4, D04
XN32. IRELAND AND SHOPIFY INC. ATTN: CHIEF PRIVACY OFFICER, 151 O'CONNOR STREET, GROUND FLOOR, OTTAWA, ON K2P 2L8,
CANADA). IF YOU SELECT ONE OF THE PAYMENT OPTIONS MENTIONED, THE PAYMENT DETAILS YOU PROVIDED DURING THE BOOKING
PROCESS, TOGETHER WITH THE INFORMATION ABOUT YOUR BOOKING, WILL BE PASSED ON TO “SHOPIFY PAYMENTS” FOR THE PURPOSE OF
PAYMENT PROCESSING. THE PROCESSING TAKES PLACE ON THE BASIS OF ART. 6 (1) SENTENCE 1 LIT. B) GDPR. THE PROVISION OF THE
PAYMENT DATA IS NECESSARY AND OBLIGATORY FOR THE CONCLUSION AND IMPLEMENTATION OF THE CONTRACT. IF THE PAYMENT DATA IS
NOT PROVIDED, IT IS IMPOSSIBLE TO CONCLUDE AND/OR EXECUTE A CONTRACT WITH THE PAYMENT METHODS MENTIONED. SHOPIFY ALSO
PROCESSES YOUR PERSONAL DATA IN CANADA. THE LEGAL BASIS FOR THE TRANSMISSION TO CANADA IS THE ADEQUACY DECISION OF THE
EU COMMISSION OF DECEMBER 20, 2001 IN ACCORDANCE WITH ARTICLE 45 (1) GDPR. "SHOPIFY" ALSO PROCESSES YOUR DATA IN THE
USA. THERE IS NO ADEQUACY DECISION BY THE EU COMMISSION FOR A DATA TRANSFER TO THE USA. THE LEGAL BASIS FOR THE DATA
TRANSFER IS ART. 46 PARA. 2 C) GDPR. BANZAI GMBH & CO. KG HAS CONCLUDED THE STANDARD DATA PROTECTION CLAUSES ISSUED BY
THE COMMISSION WITH "SHOPIFY". WE WILL PROVIDE YOU WITH A COPY OF THE CLAUSES UPON REQUEST. FURTHER INFORMATION ON THE
PURPOSE AND SCOPE OF PROCESSING BY "SHOPIFY" CAN BE FOUND ATHTTPS://WWW.SHOPIFY.DE/LEGAL/DATENSCHUTZ .
<br><br>
<p><span style="font-weight: bold;">
    SHOP PAY
</span>
<br><br>
THE “SHOP PAY” FUNCTION OF THE PROVIDER “SHOPIFY” IS AVAILABLE TO YOU VIA SHOPIFY PAYMENTS. IF YOU USE "SHOP PAY",
"SHOPIFY" STORES YOUR PAYMENT DATA, E-MAIL ADDRESS, CELL PHONE NUMBER AND INFORMATION ABOUT PAYMENTS MADE AND ORDERS
FROM OTHER ONLINE SHOPS THAT USE "SHOP PAY". THE PROCESSING TAKES PLACE ON THE BASIS OF ART. 6 (1) SENTENCE 1 LIT. B)
GDPR. THE PROVISION OF THE PAYMENT DATA IS NECESSARY AND OBLIGATORY FOR THE CONCLUSION OF THE CONTRACT OR THE EXECUTION
OF THE PAYMENT WITH "SHOP PAY". IF THE PAYMENT DATA IS NOT PROVIDED, IT IS IMPOSSIBLE TO CARRY OUT THE CONTRACT WITH THE
SPECIFIED PAYMENT METHOD. SHOPIFY ALSO PROCESSES YOUR PERSONAL DATA IN CANADA. THE LEGAL BASIS FOR THE TRANSMISSION TO
CANADA IS THE ADEQUACY DECISION OF THE EU COMMISSION OF DECEMBER 20, 2001 IN ACCORDANCE WITH ART. 45 PARA. 1 GDPR.
"SHOPIFY" ALSO PROCESSES YOUR DATA IN THE USA. THERE IS NO ADEQUACY DECISION BY THE EU COMMISSION FOR A DATA TRANSFER TO
THE USA. THE LEGAL BASIS FOR THE DATA TRANSFER IS ART. 46 PARA. 2 C) GDPR. BANZAI GMBH & CO. KG HAS CONCLUDED THE
STANDARD DATA PROTECTION CLAUSES ISSUED BY THE COMMISSION WITH "SHOPIFY". WE WILL PROVIDE YOU WITH A COPY OF THE CLAUSES
UPON REQUEST. FURTHER INFORMATION ON THE PURPOSE AND SCOPE OF PROCESSING BY "SHOPIFY" CAN BE FOUND AT WE WILL PROVIDE
YOU WITH A COPY OF THE CLAUSES UPON REQUEST. FURTHER INFORMATION ON THE PURPOSE AND SCOPE OF PROCESSING BY "SHOPIFY" CAN
BE FOUND AT WE WILL PROVIDE YOU WITH A COPY OF THE CLAUSES UPON REQUEST. FURTHER INFORMATION ON THE PURPOSE AND SCOPE OF
PROCESSING BY "SHOPIFY" CAN BE FOUND ATHTTPS://WWW.SHOPIFY.DE/LEGAL/DATENSCHUTZ .


<p style="font-weight: bold;">COPYRIGHT BY SPIRIT LEGAL</p>
<br>
<hr>
</div>

<footer class="footer-contrainer"> 
    <div class="footer-img">
      <ul class="footer">
      <li class="footer-links">
        <a class="footer-link" aria-current="page" routerLink="/shipping-policy" routerLinkActive="active">
          SUPPORT
        </a>
      </li>
      <li class="footer-links">
        <a class="footer-link" aria-current="page" routerLink="/privacy-policy" routerLinkActive="active">
          PRIVACY POLICY
        </a>
      </li>
      <li class="footer-links">
        <a class="footer-link" aria-current="page" routerLink="/terms-and-conditions" routerLinkActive="active">
          TERMS & CONDITIONS
        </a>
      </li>
    </ul>
    </div>
  </footer>