<div class="container">

    <div class="text">
        <h4 style="font-weight:bold;">ABOUT TREKS</h4>
        <br>
        <p>
            IN THE 1970S, TREKS INC. CREATED A TIMELESS DESIGN THAT FOREVER HOLDS ITS PLACE IN THE HISTORY OF
            SKATEBOARDING. A BEAUTIFUL SLALOM SKATEBOARD MADE ENTIRELY FROM ANODIZED ALUMINUM. ALMOST INDESTRUCTIBLE,
            BANZAI BOARDS SHOULD WITHSTAND THE ELEMENTS OF CALIFORNIA’S COASTAL REGION, BUT ALSO SET NEW STANDARDS IN
            THE WAY SKATEBOARDS LOOK AND PERFORM. WITH THEIR STUNNING COLORS AND DURABLE CONSTRUCTION, THEY BECAME AN
            ICON OF THEIR TIME.
        </p>
        <p>
            BANZAI SKATEBOARDS HAVE TURNED INTO COLLECTIBLE ITEMS, NOT ONLY WITHIN THE SKATEBOARD COLLECTOR SCENE BUT
            ALSO AMONG PEOPLE WHO ARE GENERALLY FASCINATED BY CLEAR AND TIMELESS PRODUCT DESIGN. WE’VE SPENT DECADES
            PRESERVING ONE OF THE LARGEST COLLECTIONS OF ORIGINAL VINTAGE BANZAI BOARDS. THE MORE BOARDS WE GATHERED,
            THE GREATER THE URGE TO ACTUALLY BRING THIS CLASSIC ICON BACK ON THE STREETS.
        </p>
        <p>
            OUR VISION IS TO RE-ESTABLISH BANZAI AS AN AUTHENTIC SKATEBOARD, LIFESTYLE AND ACCESSORY BRAND FOR A GLOBAL
            COMMUNITY OF SOPHISTICATED DESIGN ENTHUSIASTS. THE HERITAGE OF THE BRAND, WHICH IS DEEPLY ROOTED IN THE
            CALIFORNIA SKATEBOARDING AND SURFING CULTURE OF THE 1970S, HAS NEVER BEEN LOST SIGHT OF. WE HAVE TAKEN THE
            ORIGINAL DESIGN AND UPGRADED IT WITH MODERN PRODUCTION TECHNIQUES, HIGH-QUALITY MATERIALS AND REFINED
            ENGINEERING TO MAXIMIZE THE JOY OF SURFING SIDEWALKS.
        </p>
    </div>
    <div class="image">
        <img src="../../../assets/images/about-banzai_540x.jpeg" alt="">
    </div>
</div>