<!-- <h3 class="text1" @fadeOut>Surprise your family</h3> -->
<header>
  <div class="container">
  <div class="welcome-img">
    <img src="../../../assets/images/home.PNG" alt="">
  </div>
</div>
</header>
<article>
  <ul class="all-boxes">
    <div class="first-box box">
      <li class="boxes">
        <a class="nav-link" aria-current="page" routerLink="/order-streetwear" routerLinkActive="active">
          STREETWERAR
        </a>
      </li>
    </div>
    <div class="second-box box">
      <li class="boxes">
        <a class="nav-link" aria-current="page" routerLink="/order-accessories" routerLinkActive="active">
          ACCESORY
        </a>
      </li>
    </div>
    <div class="third-box box">
      <li class="boxes">
        <a class="nav-link" aria-current="page" routerLink="/order-wooden-skateboard" routerLinkActive="active">
          WOOD
        </a>
      </li>
    </div>
    <div class="fourth-box box">
      <li class="boxes">
        <a class="nav-link" aria-current="page" routerLink="/order-aluminium-skateboard" routerLinkActive="active">
          ALUMINIUM
        </a>
      </li>
    </div>
  </ul>

</article>



<footer class="footer-contrainer"> 
  <div class="footer-img">
    <ul class="footer">
    <li class="footer-links">
      <a class="footer-link" aria-current="page" routerLink="/shipping-policy" routerLinkActive="active">
        SUPPORT
      </a>
    </li>
    <li class="footer-links">
      <a class="footer-link" aria-current="page" routerLink="/privacy-policy" routerLinkActive="active">
        PRIVACY POLICY
      </a>
    </li>
    <li class="footer-links">
      <a class="footer-link" aria-current="page" routerLink="/terms-and-conditions" routerLinkActive="active">
        TERMS & CONDITIONS
      </a>
    </li>
  </ul>
  </div>
</footer>